@import 'variables';
@import 'mixin';

.uk-container-large {
    max-width: 1500px;
}

.uk-padding {
    padding: 20px;
}

.padding-section {
    padding: 50px;
}

.color-green {
    color: $green !important;
}

.font-bold {
    font-weight: bold;
}

.uk-inline {
    display: block;
}

.uk-overlay {
    padding: 0px;
}

.uk-overlay-primary {
    width: 50%;
}

.arrow {
    @include arrow();
    position: absolute;
    bottom: 50px;
    margin-left: -28px;
    span {
        color: #000;
    }
}

.centered {
    display: table;
    margin: 0 auto;
}

.dark-purple {
    background-color: $dark-purple;
}

.brighter-purple {
    background-color: $brighter-purple;
}

header {
    position: relative;
    #logo {
        position: absolute;
        top: 10px;
        z-index: 1;
        span {
            color: #FFF;
            font-weight: bold;
            font-size: 22px;
        }
        img {
            margin-right: 50px;
        }
    }
    #green-box {
        position: absolute;
        top: 0;
        background-color: $green;
        width: 150px;
        left: 50%;
        margin-left: -80px;
        margin-top: 0px;
        padding: 10px 5px 10px 5px;
        text-align: center;
        z-index: 1;
        span {
            color: #000;
        }
        span:nth-child(2) {
            font-weight: bold;
            font-size: 30px;
        }
    }
    .uk-overlay-primary {
        background: rgba(57, 10, 99, 0.8);
    }
    .information {
        @include information(absolute, 150px, 35%, #FFF);
        ul {
            li {
                list-style-type: none;
                span:nth-child(1) {
                    margin-right: 10px;
                }
            }
        }
    }
    form {
        position: absolute;
        top: 130px;
        background-color: $purple;
        width: 300px;
        z-index: 2;
        .uk-form-label {
            color: #FFF;
        }
        .input-right {
            text-align: right;
        }
        #klauzula {
            text-decoration: underline;
            cursor: pointer;
            color: #FFF;
        }
        #toggle {
            color: #FFF;
        }
        .uk-checkbox {
            background-color: #FFF;
        }
        .uk-align-right {
            margin-bottom: 0px;
        }
        h3 {
            color: #FFF;
            span {
                font-size: 16px;
            }
        }
        #form-button {
            border: none;
            background-color: $green;
            font-weight: bold;
            color: #FFF;
            width: 100%;
            line-height: 50px;
        }
    }
}

@media (min-width: 1390px) {
    header {
        .information {
            h2 {
                font-size: 2.5rem;
            }
            h3 {
                font-size: 2rem;
            }
            ul {
                font-size: 1.2rem;
            }
        }
    }
}

@media (min-width: 1350px) and (max-width: 1570px) {
    header {
        .information {
            top: 100px;
        }
        form {
            top: 45px;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1349px) {
    header {
        .information {
            top: 100px;
        }
        form {
            top: 0px;
        }
    }
}

@media (max-width: 1199px) {
    .uk-overlay-primary {
        background: none;
    }
    .uk-grid > .uk-grid-margin {
        margin-top: 0px;
    }
    header {
        .uk-overlay-primary {
            background: none;
        }
        #logo {
            position: relative;
            top: 0px;
            padding: 15px;
            background-color: $navy-blue;
        }
        #green-box {
            top: 150px;
            left: 130px;
            margin-left: 0px;
        }
        form {
            position: relative;
            top: 0px;
            width: 100%;
        }
        .uk-grid {
            margin-left: 0px;
            >* {
                padding-left: 0px;
            }
        }
        .uk-container {
            padding-left: 0px;
            padding-right: 0px;
        }
        .information {
            @include information(relative, 0px, 100%, #FFF);
            background-color: $navy-blue;
        }
        .arrow {
            display: none;
        }
    }
}

@media (min-width: 960px) {
    header {
        .uk-form-horizontal .uk-form-controls {
            margin-left: 100px !important;
        }
        .uk-form-horizontal .uk-form-label {
            width: 80px !important;
        }
    }
}

@media (max-width: 700px) {
    header {
        #green-box {
            top: 100px;
            left: 80px;
        }
    }
}

@media (max-width: 430px) {
    header {
        #green-box {
            top: 100px;
            left: 30px;
        }
        #logo {
            span {
                font-size: 20px;
            }
            img {
                margin-right: 20px;
            }
        }
    }
}


/* -=-=-=-=-=- SECTION 1 -=-=-=-=-=- */

#section-1 {
    background: url("../images/section.png") no-repeat top center;
    background-size: cover;
    h2 {
        font-weight: bold;
        text-align: center;
    }
    .uk-subnav {
        margin-left: 0px;
        margin-bottom: 60px;
        margin-top: 50px;
        li {
            text-align: center;
            padding-left: 0px;
            span {
                font-size: 25px;
                font-weight: bold;
            }
        }
    }
    .uk-subnav-pill {
        a {
            color: #FFF;
            &:hover {
                background-color: transparent;
            }
        }
        >.uk-active {
            position: relative;
            >a {
                background-color: $green;
            }
            &:after {
                @include triangle(20px, 20px, $green);
                @include transform-rotate(45deg);
                bottom: -10px;
                right: 50px;
            }
        }
        *>:first-child {
            padding: 20px 40px 20px 40px;
        }
    }
    #bonus-list {
        width: 50%;
        display: table;
        margin: 0 auto;
        ul {
            list-style-type: square;
            li {
                color: $green;
                margin-bottom: 20px;
                span {
                    color: #000;
                }
            }
        }
    }
}

@media (max-width: 1145px) {
    #section-1 {
        .uk-container {
            padding-left: 0px;
            padding-right: 0px;
        }
        .uk-subnav {
            display: block;
            float: left;
        }
        #bonus-list {
            padding-top: 100px;
        }
        .uk-subnav-pill {
            >.uk-active {
                &:after {
                    @include triangle(20px, 20px, $green);
                    @include transform-rotate(-45deg);
                    bottom: 20px;
                    right: -7px;
                    
                }
            }
        }
        .centered {
            display: inline;
        }
    }
}

@media (max-width: 500px) {
    #section-1 {
        .padding-section {
            padding: 40px 10px 40px 10px;
        }
    }
}


/* -=-=-=-=-=- SECTION 2 -=-=-=-=-=- */

#section-2 {
    position: relative;
    .information {
        @include information(absolute, 120px, 35%, #FFF);
    }
}

@media (min-width: 1390px) {
    #section-2 {
        .information {
            h2 {
                font-size: 2.5rem;
            }
            h3 {
                font-size: 2rem;
            }
            ul {
                font-size: 1.2rem;
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1570px) {
    #section-2 {
        .information {
            top: 40px;
        }
    }
}

@media (max-width: 1199px) {
    #section-2 {
        @include margin-left-right(80px, 80px);
        .uk-container {
            padding-left: 0px;
            padding-right: 0px;
        }
        .information {
            @include information(relative, 0px, 100%, #FFF);
            background-color: $brighter-purple;
        }
    }
}

@media (max-width: 500px) {
    #section-2 {
        @include margin-left-right(20px, 20px);
        .uk-container {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}


/* -=-=-=-=-=- SECTION 3 -=-=-=-=-=- */

#section-3 {
    background: url("../images/section.png") no-repeat top center;
    background-size: cover;
    #steps {
        .uk-align-center {
            margin-bottom: 0px;
        }
    }
    .step {
        width: 70%;
        display: inline-block;
    }
    h2 {
        margin-bottom: 80px;
    }
    .arrow {
        position: static;
        margin-left: 0px;
        margin-top: 50px;
        @include transform-rotate(180deg);
    }
    .uk-navbar-container:not(.uk-navbar-transparent) {
        background-color: transparent;
    }
    .uk-navbar-nav > li.uk-active > a {
        color: $green;
    }
}

@media (max-width: 959px) {
    #section-3 {
        #steps {
            .uk-text-center {
                margin-bottom: 50px;
            }
        }
    }
}
