@import 'variables';
@import 'mixin';
@import 'sections/header';
@import 'sections/section-1';
@import 'sections/section-2';
@import 'sections/section-3';

.uk-container-large {
    max-width: 1500px;
}

.uk-padding {
    padding: 20px;
}

.padding-section {
    padding: 50px;
}

.color-green {
    color: $green !important;
}

.font-bold {
    font-weight: bold;
}

.uk-inline {
    display: block;
}

.uk-overlay {
    padding: 0px;
}

.uk-overlay-primary {
    width: 50%;
}

.arrow {
    @include arrow();
    position: absolute;
    bottom: 50px;
    margin-left: -28px;
    span {
        color: #000;
    }
}

.centered {
    display: table;
    margin: 0 auto;
}

.dark-purple {
    background-color: $dark-purple;
}

.brighter-purple {
    background-color: $brighter-purple;
}
